[mysqld]
# General Settings
user = mysql
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
port = 3306
basedir = /usr
datadir = /var/lib/mysql
tmpdir = /tmp
lc-messages-dir = /usr/share/mysql

# Connection Settings
max_connections = 200
connect_timeout = 5
wait_timeout = 600
max_allowed_packet = 16M

# General and Slow Query Log Settings
general_log = OFF
general_log_file = /var/log/mysql/mysql.log
slow_query_log = ON
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 2

# Error Log Settings
log-error = /var/log/mysql/error.log

# Binary Log
server-id = 1
log-bin = /var/log/mysql/mysql.bin
expire_logs_days = 10
max_binlog_size = 100M

# InnoDB Settings
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M
innodb_flush_method = O_DIRECT
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 1

# Character Set
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# SQL Mode
sql_mode = STRICT_TRANS_TABLES,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
